
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

h1, h2{
  font-family: 'DM-Serif-Display',serif;
}

h3, h4, h5, h6, p {
  font-family: 'Manrope',sans-serif;
}

.intro-text-1 {
  font-size: 10vw;
  text-align: left;
  padding-left: 10vh;
  position: absolute;
}
  
.intro-text-2 {
  font-size: 10vw;
  text-align: left;
  padding-left: 10vh;
  padding-top: 10%;
  position: absolute;

}

.navbar {
  background-color: white !important;
  font-family: 'Manrope',sans-serif;
}

#profile-photo {
  width: 35vw;
  height: auto;
  padding-top: 45vh;
  margin-left: 50%;
  position: absolute;

}

#mountain-photo {
width: 80vw;
height: auto;
margin-top: 8vh;
margin-left: 20vw;
position: absolute;
}

#homepage-visual {
  position: relative;
  width: 100%;
  height: 100%;
}

#short-bio {
  font-size: 2vw;
  padding-left: 5%;
  padding-top: 90vh;
  padding-bottom: 50px;
  margin-left: 2vw;
  width: 50vw;
  position: absolute;

}

#contact-info {
  padding-top: 15vh;
  text-align: center;
}

#about-info {
  padding-top: 15vh;
  text-align: center;
}


#background-photo {
  height: 10vh; 
  padding-left: 38vw;
  margin-top: 10vh;
}